<div class="container   mt-2 ">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    <h4>
      {{errorMessage}}
    </h4>


  </div>
  <form [formGroup]="LoginForm" (ngSubmit)="login()">

    <div class="form m-auto">
      <div class="row">
        <div class="col-12 align-items-center ">



          <label for="email" class="mb-1">email</label>
          <input type="email" id="email" class="form-control mb-2" formControlName="email">
          <div class="alert alert-danger" *ngIf="controlName['email'].errors && controlName['email'].touched">
            <p class="mb-0" *ngIf="controlName['email'].errors?.['required']">email is required</p>
          </div>

          <label for="password" class="mb-1">password</label>
          <input type="password" id="password" class="form-control mb-2" formControlName="password">
          <div class="alert alert-danger" *ngIf="controlName['password'].errors && controlName['password'].touched">
            <p class="mb-0" *ngIf="controlName['password'].errors?.['required']">password is required</p>
            <p class="mb-0" *ngIf="controlName['password'].errors?.['pattern']">pattern not match</p>
          </div>


          <button class="btn btn-info mt-3" type="submit">login
            <i class="fas fa-spinner fa-spin" *ngIf="fireLogin"></i>
          </button>

        </div>
      </div>
    </div>



  </form>
</div>